.uni-collapse {
  --uni-collapse-border-color: var(--uni-border-color-light);
  --uni-collapse-header-height: 48px;
  --uni-collapse-header-bg-color: var(--uni-fill-color-blank);
  --uni-collapse-header-text-color: var(--uni-text-color-primary);
  --uni-collapse-header-font-size: 18px;
  --uni-collapse-content-bg-color: var(--uni-fill-color-blank);
  --uni-collapse-content-font-size: 13px;
  --uni-collapse-content-text-color: var(--uni-text-color-primary);
  --uni-collapse-disabled-text-color: var(--uni-disabled-text-color);
  --uni-collapse-disabled-border-color: var(--uni-border-color-lighter);
  border-top: 1px solid var(--uni-collapse-border-color);
  border-bottom: 1px solid var(--uni-collapse-border-color);
}

.uni-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--uni-collapse-header-height);
  line-height: var(--uni-collapse-header-height);
  background-color: var(--uni-collapse-header-bg-color);
  color: var(--uni-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--uni-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--uni-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--uni-collapse-border-color);

  &.is-disabled {
    color: var(--uni-collapse-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
  }

  &.is-actived {
    border-bottom-color: transparent;
  }
}

.uni-collapse-item__content {
  will-change: height;
  background-color: var(--uni-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--uni-collapse-content-font-size);
  color: var(--uni-collapse-content-text-color);
  border-bottom: 1px solid var(--uni-collapse-border-color);
  /* padding-bottom: 25px; */
}

.slide-enter-active,
.slide-leave-active {
  transition: height 0.3s ease-in-out;
}

.uni-collapse-item__wrapper {
  overflow: hidden;
}
